.container {
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .cards {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 15px;
    padding: 1.5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }



  .card {
    
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 30px;
    background: #fefff9;
    color: #363636;
    text-decoration: none;
    -moz-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  @media (max-width: 700px) {
    .card {
      width: 100%;
    }
  }
  @media (min-width: 700px) {
    .card {
      max-width: 413px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
    .card:nth-child(even) {
      margin-right: 0;
    }
  }
  @media (min-width: 980px) {
    .card:nth-child(even) {
      margin-right: 20px;
    }
    .card:nth-child(3n) {
      margin-right: 0;
    }
  }
  .card span {
    display: block;
  }
  .card .card-summary {
    padding: 5% 5% 3% 5%;
  }
  .card .card-header {
    position: relative;
    height: 228px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.15);
    background-blend-mode: overlay;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px;
    border-radius: 4px 4px 0 0;
  }
  .card .card-header:hover, .card .card-header:focus {
    background-color: rgba(255, 255, 255, 0);
  }
  .card .card-title {
    background: rgba(157, 187, 63, 0.85);
    padding: 3.5% 0 2.5% 0;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .card .card-title h3 {
    font-size: 1.2em;
    line-height: 1.2;
    padding: 0 3.5%;
    margin: 0;
  }
  .card .card-meta {
    max-height: 0;
    overflow: hidden;
    color: #666;
    font-size: .78em;
    text-transform: uppercase;
    position: absolute;
    bottom: 5%;
    padding: 0 5%;
    -moz-transition-property: max-height;
    -o-transition-property: max-height;
    -webkit-transition-property: max-height;
    transition-property: max-height;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }
  .card:hover, .card:focus {
    background: white;
    -moz-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  }
  .card:hover .card-title, .card:focus .card-title {
    background: rgba(94, 220, 226, 0.843);
  }
  .card:hover .card-meta, .card:focus .card-meta {
    max-height: 1em;
  }
  
  img {
    max-width: 100%;
  }
  
  body {
    background: #f0f0f0;
    font-size: 17px;
    line-height: 1.4;
    font-family: 'Jaldi', sans-serif;
  }
  
  * {
    -moz-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -moz-transform;
    -o-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -o-transform;
    -webkit-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -webkit-transform;
    transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
  }
  



.container-12 {
  padding: 100px 0;
}

.profile-12 {
  max-width: 930px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  position: relative;
}
.profile-12 h2 {
  color: #0a0a0a;
}
.profile-12 p {
  color: rgba(10, 10, 10, 0.8);
}
.profile-12 .image {
  width: 75px;
  height: 75px;
  background: red;
  border-radius: 50%;
  margin: 0 auto;
  position: absolute;
  right: 15px;
  top: 15px;
  transform-origin: bottom left;
  box-shadow: rgb(0 0 0 / 19%) 220px 90px 1232px 117px inset;
  transition: all 0.3s ease-in-out;
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Ficon-icons.com%2Fes%2Ficono%2Funo-de-dedos-toque-descritos-de-simbolos-de-una-mano%2F57978&psig=AOvVaw2MfhUTouCpctKz4cTC3h6e&ust=1630436606511000&source=images&cd=vfe&ved=0CAgQjRxqFwoTCJCD1uu32fICFQAAAAAdAAAAABAK");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.profile-12:hover .image {
  transform: scale(1.5);
  border-radius: 10px;
}

/*Efecto entrada left to right */

.carde {
 
  animation: carde 4s ;

}



/* Creamos la animación (con keyframes) */

/* Creamos la animación (con keyframes) */

@keyframes carde {
 
  0% {
    opacity: 0;
    transform: translateX(-100vw) skewX(0deg);
  }
    
  60% {
    opacity: 1;
    transform: skewX(0deg);
    
  }
  
  80% {
    transform: skewX(0deg);
  }
  
}

/*Estilo del form ubicado en la vista conocenos*/
.carde:hover h5{
  transform:scale(1.2);
}

.carde h5 {
    line-height: 1.22727;
    font-size: 18px!important;
}
.carde{
  padding: 34px;
  width: 67vw;
  transform: translate(25%,9%);
  background: linear-gradient(145deg, #bbc9ff 0%, #9ea9e6 100%);
  box-shadow: 5px 5px 15px #8791c4, -5px -5px 15px #d7e7ff;
  border-radius: 20px
  }
  @media(max-width:768px){
  .carde{
      width: 90vw;
  }
  }
  .carde-img{
  width: 100px;
  height: 100px;
  background: linear-gradient(145deg, #ffffff 0%, #eaebee 100%);
  box-shadow: 4px 4px 15px #8791c4;
  }
  .nav-link{
  background: linear-gradient(145deg, #ffffff 0%, #eaebee 100%);
  box-shadow: 4px 4px 15px #8791c4;
  color: #202020;
  transition: transform 0.3s ease-in-out;
  padding: 0.3rem 0.5rem;
  }
  .nav-link:hover{
  transform: scale(1.2);
  color: #202020;
  }


  .carde_padre:hover div{
    transform:scale(1.2);
  }
  
  .carde2 h5 {
      line-height: 1.22727;
      font-size: 18px!important;
  }
  .carde2{
    padding: 34px;
    width: 34vw;
    background: linear-gradient(145deg, #bbc9ff 0%, #9ea9e6 100%);
    box-shadow: 5px 5px 15px #8791c4, -5px -5px 15px #d7e7ff;
    border-radius: 20px
    }
    @media(max-width:768px){
    .carde2{
        width: 90vw;
    }
    }
    .carde2-img{
    width: 100px;
    height: 100px;
    background: linear-gradient(145deg, #ffffff 0%, #eaebee 100%);
    box-shadow: 4px 4px 15px #8791c4;
    }