<traslate>
<span class="en">English</span>
<input type="checkbox" class="check">
<span class="es">Spanish</span>
</traslate>
<style>
.en{
    color:tomato;
}
.es{
    color: blueviolet;
}
.check{
    position: relative;
    width: 50px;
}
.check:before{
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: #333;
    border-radius: 25px;
}
.check:after{
    content: '';
    position:absolute;
    width:25px;
    height: 25px;
    background: #fff;
    border-radius:25px;
    transition:0.25s;
    border:2px solid #333;
    box-sizing: border-box;    
}
.check:checked:after{
    left:25px;
    border:2px solid #00a1ff;
}
.check:checked:before{
    background:#00a1ff;
}
</style>
<script src="js/traslate/index.js"></script>
