.container_group {
    display: flex;
    -webkit-display: box;
    -moz-display: box;
    -ms-display: flexbox;
    -webkit-display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  .cards {
    display: flex;
    padding: 1rem;
    margin-bottom: 2rem;
    width: 100%;
  }
  @media (min-width: 40rem) {
    .cards {
      width: 50%;
    }
  }
  @media (min-width: 56rem) {
    .cards {
      width: 35.3%;
    }
  }
  .cards .card-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
  }
  .cards .card-item:hover {
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  .cards .card-item:hover .card-image {
    opacity: 1;
  }
  .cards .card-info {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
    line-height: 1.5em;
  }
  .cards .card-title {
    font-size: 25px;
    line-height: 1.1em;
    color: #32325d;
    margin-bottom: 0.2em;
  }
  .cards .card-image {
    height: 300px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px 6px 0px 0px;
    opacity: 0.91;
  }
  
  .btn {
    color: #1b1b1b;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(253, 199, 23, 0.918);
    background: transparent;
  }
  
  .btn:hover {
    background-color: rgba(255, 226, 95, 0.966);
  }