@charset "UTF-8";


body {
	background-color: #373737;
	background-repeat: repeat-x;
	font-family: Tahoma, Geneva, sans-serif;	
}
p {
	color: #093;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;
}

a {
	text-decoration: none;
	margin-bottom: 14px;
	color:#CC3;
}

h2 {
	color:#093;
}

#mainContent a img {
}



h3 {
	color:#737373;
	margin-top: 20px;
	font-style: normal;
}
